.cradContainer{
    padding-top:80px
}

.card{
    background: #f8f8f8
}

.btnscontainer{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.formLabelMinus,
.formLabelPlus{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFF;
    line-height: 10px;
    text-align: center;
    margin-top: 5px;
}

strong{
    margin-left: 20px
}

#customRange3{
    /* height: 1px; */
    width: calc(100% - 40px);
    margin-left: 5px;
    margin-right: 5px;
}

.dropdownContainer{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}

.slideRange{
    display: flex
}